.watch{
    margin-top: 40px;
}
.watch .vedios{
    
}
.watch .vedios video{
         display: block;
    width: 100%;
    height: auto;
}
.watch .vedios iframe{
         display: block;
    width: 100%;

}